.env
.conda
pytest.ini
supervisord.conf
apps/*/__pycache__/
apps/*/migrations/__pycache__
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
general.log
Dockerfile
docker-compose.yml
docker-file/
.dockerignore

